pip==25.3
setuptools>=65.5.1
wheel

numpy
pandas
scikit-learn
joblib==1.4.2


# ML Models
xgboost
lightgbm
catboost

# Deep Learning (optional)
tensorflow
keras

# Visualization (optional)
matplotlib
seaborn

# Web App
streamlit

# Compatibility Fix
protobuf==3.20.3
